#app{
  max-width: 7.5rem;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 6.24rem;
}

.btn{
  width: 5.4rem;
  line-height: 1rem;
  text-align: center;
  padding: 0;
  border: none;
  background-color: #fff;
  color: #FF4318;
  font-size: .34rem;
  border-radius: 1rem;
  margin-bottom: .4rem;
}

.btn-primary{
  background-color: #FF4318;
  color: #fff;
}

.btn:last-child{
  margin-bottom: 0;
}